
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    position: fixed;       
    top: 0;               
    left: 0;
    width: 100%;           
    height: 70px;          
    background-color: skyblue; 
    display: flex;         
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;       
    z-index: 1000;         
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
